
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 
/*--------------------------------------------------- Formato Mobile menor a 768px ----------------------------------------------------------------*/ 
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 

@media (min-width: 1px) and (max-width: 768px) 
{ 
    #headerDesktop {
        display:none !important;
    }
    #hero {
        position:relative; 
        background:#1C1F2A; 
        top: 0px; 
        height: 420px; 
        overflow: hidden;
        width: 100%;
        overflow: hidden;
    }
    #headerMobile{
        width: 100%; 
        height:56px; 
        color: green;
        overflow: hidden;
    }
    #navbar-brand-mobile2 {
        visibility:visible;
        overflow: hidden;
    }
    #navbar-brand-mobile1 {
        visibility: hidden;
    }
    #lineaSupHero {
        visibility: hidden;
       }  
    #txtIntro {
        position: absolute;
        width: 51%;
        height: 43px;
        left: 9%;
        top: 6vw;
            
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 6.8vw;
        line-height: 8vw;      
        text-transform: uppercase;
        color: #FFFFFF;
        }
    #parrafoHero{
        position: absolute;
        width: 70%;
        height: 116px;
        left: 9%;
        top: 25vw;
            
        font-family: 'Roboto';
        font-style: normal;
        color: #FFFFFF;
        text-align: left;

        font-weight: 300;
        font-size: 16px;
        line-height: 20px;  
    }
    #lineaInfHero {
        position: absolute;
        width: 80%;
        height: 0px;
        left: 9.44%;
        top: 325px;
        border: 0.5px solid #FFFFFF;
       }  
    #imgHome {
        position: absolute;
        Width:12%;
        min-width: 66px;
        Top:334px;
        left: 9.51%;
        }
    #leerMasIntro {
        position: absolute;
        width: 70%;
        height: 20px;
        left: 25%;
        top: 345px;
            
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;     
        
        color: #FFFFFF;
        }

/*----------------------------------------------------- Contenedor 1  ------------------------------------------------- */

#contenedorBody1{
    position: relative; 
    max-height: 1500px;
    align-content: center;
    margin-top: 0px;
    background: transparent;
    overflow: hidden;
    z-index: 5;
}
#txtEnlacesMobileEnfoques {
    position: relative;
    top: 0;
    left: 5%;

    visibility: visible;
    font-family: 'Roboto';
    font-style: normal; 
    
    font-size: 16px;
    line-height: 25px;

    text-decoration: none;
    color: #818181;
}
#txtContenedorBody1 {
    position: relative;
    left: 6%;
    margin-top: 25px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8vw;
    line-height: 7vw;
    
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
}
#txtOpcionesContenedorBody1{
    position: relative;
    width: 85%;
    left: 6%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #404040;
    text-decoration: none;
}
#imgMobileContenedor1{
    position: relative;
    width: 90vw;
    left: 5vw;  
    z-index:10;
    margin: 0;
}
#imgContenedor1{
    display: none;
}


/*-------------------------------------------- Contenedor 2. Imagen de ciudad ----------------------------------------------------- */

#contenedorBody2{
    position: relative; 
    height: auto;
    max-width: 1700px;
    overflow: hidden;
    background: #1C1F2A;
    margin: 0;
    padding: 0;

}
#imgContenedorBody2 {
    display: none;
}
#imgMobileContenedorBody2 {
    position: relative;
    margin: 0;
    padding: 0;
}

#txtContenedorBody2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-weight: 700;
    font-size: 8vw;
    line-height: 7vw;
    color: #64AE45;
    text-align: left;
}
#txtOpcionesContenedorBody2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 10px;
}


/*----------------------------------------------------- Contenedor Energía Renovables  ------------------------------------------------- */

#contenedorEnergiaRenovable{
    position: relative; 
    height: auto;
    align-content: center;
    margin-top: 50px;
    background: transparent;
    overflow: hidden;
    z-index: 100;
    margin: 0;
    padding: 0;
}

#txtContenedorEnergiaRenovable {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8vw;
    line-height: 7vw;
    
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
}
#txtParrafoContenedorEnergiaRenovable{
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px; 
    color: #404040;
}
#imgContenedorEnergiaRenovable{
    display:none;
}
#imgMobileContenedorEnergiaRenovable{
    position: relative;
    height: 100vw;
    width: auto;
    transform: rotate(180deg);
    left: -50%;
}

/*----------------------------------------------------- Contenedor Soluciones Integrales ------------------------------------------------- */

#contenedoSolucionesIntegrales{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    margin-top: 50px;
    background: transparent;
    overflow: hidden;
    z-index: 100;
    padding: 0;
    margin-top: 0;
    margin-bottom: 100px;
}

#imgContenedorSolucionesIntegrales{
    display: none;
}
#imgMobileContenedorSolucionesIntegrales{
    position: relative;
}
#txtContenedorSolucionesIntegrales {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8vw;
    line-height: 7vw;
    
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
}
#txtParrafoContenedorSolucionesIntegrales {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px; 
    color: #404040;
}

#btnContacto {
    display: none;
}


/*-------------------------------------- Contenedor control de articulo - Anterior/Siguiente  -------------------------------------- */

#carouselProductosControl{
    position: relative;
    left: 4%; 
}
#imgVectorFlechaDerecha {
    position:relative;
    align-items: center;
    width: 50%;
    max-width:850px;
    text-align: left;
}
#imgVectorFlechaIzquierda {
    position:relative;
    align-items: center;
    width: 50%;
    max-width:850px;
    text-align: right;
}
#vectorSiguiente {
    height: 26px;
    width: 26px;
    margin-left: 10px;
}
#vectorAnterior {
    height: 26px;
    width: 26px;
    margin-right: 10px;
}
#txtSiguiente {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #1C1F2A;
    margin-left: 26px;
}
#txtAnterior {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #1C1F2A;
    margin-right: 26px;
}

}

/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 
/*--------------------------------------------------- Formato Desktop entre 768 px y 1200 px -------------------------------------------------------*/ 
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 

@media (min-width: 768px) and (max-width: 1200px) 
{ 
    #headerMobile {
        display: none;
    } 

    #hero {
        position:relative; 
        background:#1C1F2A; 
        top: 0px; 
        height: 600px; 
        overflow: hidden;
        max-width: 1700px;
    }
   #lineaSupHero {
        position: absolute;
        width: 81%;
        height: 0px;
        left: 9.44%;
        top: 147px;
        border: 0.5px solid #FFFFFF;
    }  
   #lineaInfHero {
        position: absolute;
        width: 81%;
        height: 0px;
        left: 9.44%;
        top: 466px;
        border: 0.5px solid #FFFFFF;
   }  
    #txtIntro {
        position: absolute;
        width: 415px;
        height: 43px;
        left: 100px;
        top: 194px;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 5.25vw;
        line-height: 6.75vw;
        /* identical to box height, or 61% */
        
        text-transform: uppercase;

        color: #FFFFFF;
    }
    #parrafoHero{
        position: absolute;
        width: 35%;
        height: 134px;
        left: 60%;
        top: 194px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1.7vw;
        line-height: 2vw; 

        text-decoration: none;
        color: #FFFFFF;
        text-align: start;
}
#leerMasIntro {
    position: absolute;
    width: 35%;
    height: 20px;
    left: 60%;
    top: 532px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 2.3vw;
    line-height: 31px;
    text-decoration: none;
    
    color: #FFFFFF;
    opacity: 50%;
}
    #imgHome {
        position: absolute;
        width: 60px;
        height: 79px;
        left: 9.51%;
        top: 500px;
        opacity: 80%;
    }

/*----------------------------------------------------- Contenedor 1  ------------------------------------------------- */

#contenedorBody1{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    margin-top: 50px;
    background: transparent;
    overflow: hidden;
    z-index: 100;
}
#txtEnlacesMobileEnfoques {
    display: none;
}
#txtContenedorBody1 {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 3.5vw;
    
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
    left: 50px;

}
#txtOpcionesContenedorBody1{
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 2vw; 
    color: #404040;
    text-decoration: none;
    text-align: start;
    left: 50px;

}
#imgMobileContenedor1{
    display: none;
}
#imgContenedor1{
    clip-path: inset(10% 10% 10% 10%);
}

/*-------------------------------------------- Contenedor 2. Imagen de ciudad ----------------------------------------------------- */

#contenedorBody2{
    position: relative; 
    max-width: 1700px;
    background: #1C1F2A;
    overflow: hidden;
}
#imgContenedorBody2 {
    left: 0;
}
#imgMobileContenedorBody2 {
    display: none;
}
#txtContenedorBody2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 3.1vw;
    line-height: 3vw;
    color: #64AE45;
    text-align: left;
}
#txtOpcionesContenedorBody2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 1.3vw;
    line-height: 1.9vw; 
    color: #FFFFFF;
}

/*----------------------------------------------------- Contenedor Energía Renovables  ------------------------------------------------- */

#contenedorEnergiaRenovable{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    margin-top: 50px;
    background: transparent;
    overflow: hidden;
    z-index: 100;
}

#txtContenedorEnergiaRenovable {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;

    font-size: 4vw;
    line-height: 5vw;
    
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
}
#txtParrafoContenedorEnergiaRenovable{
    position: relative;
    width: 25%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 1.9vw;  
    color: #404040;
}
#imgContenedorEnergiaRenovable{
    position: relative;
    left: 50px;
}
#imgMobileContenedorEnergiaRenovable{
    display:none;
}

/*----------------------------------------------------- Contenedor Soluciones Integrales ------------------------------------------------- */

#contenedoSolucionesIntegrales{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    margin-top: 50px;
    background: transparent;
    overflow: hidden;
    z-index: 100;
}

#imgContenedorSolucionesIntegrales{
    position: relative;
    left: 50px;
}
#imgMobileContenedorSolucionesIntegrales{
    display:none;
}

#txtContenedorSolucionesIntegrales {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    line-height: 5vw;
        
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
}
#txtParrafoContenedorSolucionesIntegrales {
    position: relative;
    width: 25%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 1.9vw; 
    color: #404040;
}

#btnContacto {
    background: #1C1F2A; 
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
#btnContacto:hover {
    background:#A6A8AB; 
    color: #1C1F2A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

}

/*-------------------------------------- Contenedor control de articulo - Anterior/Siguiente  -------------------------------------- */

#carouselProductosControl{
    position: relative;
    left: 4%; 
}
#imgVectorFlechaDerecha {
    position:relative;
    align-items: center;
    width: 50%;
    max-width:850px;
    text-align: left;
}
#imgVectorFlechaIzquierda {
    position:relative;
    align-items: center;
    width: 50%;
    max-width:850px;
    text-align: right;
}
#vectorSiguiente {
    height: 26px;
    width: 26px;
    margin-left: 10px;
}
#vectorAnterior {
    height: 26px;
    width: 26px;
    margin-right: 10px;
}
#txtSiguiente {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #1C1F2A;
    margin-left: 26px;
}
#txtAnterior {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #1C1F2A;
    margin-right: 26px;
}

}

/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 
/*--------------------------------------------------- Formato Desktop entre 1200px y 1700px -----------------------------------------------------*/ 
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 

@media (min-width: 1200px)
{ 
   
    #headerMobile {
        display: none;
    } 

    #hero {
        position:relative; 
        background:#1C1F2A; 
        top: 0px; 
        height: 600px; 
        overflow: hidden;
        max-width: 1700px;
    }
   #lineaSupHero {
        position: absolute;
        width: 81%;
        height: 0px;
        left: 9.44%;
        top: 147px;
        border: 0.5px solid #FFFFFF;
    }  
   #lineaInfHero {
        position: absolute;
        width: 81%;
        height: 0px;
        left: 9.44%;
        top: 510px;
        border: 0.5px solid #FFFFFF;
   }  
    #txtIntro {
        position: absolute;
        width: 415px;
        height: 43px;
        left: 137px;
        top: 194px;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 4.70vw;
        font-size: 70px;
        line-height: 90px;
        /* identical to box height, or 61% */
        
        text-transform: uppercase;

        color: #FFFFFF;
    }
        #parrafoHero{
            position: absolute;
            width: 35%;
            height: 144px;
            left: 60%;
            top: 194px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 23px;
            line-height: 34px;
            text-decoration: none;
            color: #FFFFFF;
            text-align: start;
    }
    #leerMasIntro {
        position: absolute;
        width: 35%;
        height: 20px;
        left: 60%;
        top: 532px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 31px;
        text-decoration: none;
        
        color: #FFFFFF;
        opacity: 50%;
    }
    #imgHome {
        position: absolute;
        width: 60px;
        height: 79px;
        left: 9.51%;
        top: 500px;
        opacity: 80%;
    }

/*----------------------------------------------------- Contenedor 1  ------------------------------------------------- */

#contenedorBody1{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    margin-top: 50px;
    background: transparent;
    overflow: hidden;
    z-index: 100;
}
#txtEnlacesMobileEnfoques {
    display: none;
}
#txtContenedorBody1 {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 47px;
    
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
}
#txtOpcionesContenedorBody1{
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;

    color: #404040;
    text-decoration: none;
    letter-spacing: 0.02em;

}
#imgMobileContenedor1{
    display: none;
}
#imgContenedor1{
    position: relative;
    border: 3px solid #1C1F2A;
}
#txtDosContenedorBody1 {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 47px;
    
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
}
#txtDosOpcionesContenedorBody1{
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;

    color: #404040;
    text-decoration: none;
    letter-spacing: 0.02em;

}


/*-------------------------------------------- Contenedor 2. Imagen de ciudad ----------------------------------------------------- */

#contenedorBody2{
    position: relative; 
    max-width: 1700px;
    background: #1C1F2A;
    overflow: hidden;
    display: flex;
    vertical-align: middle;
}
#imgContenedorBody2 {
    left: 0;
}
#imgMobileContenedorBody2 {
    display: none;
}
#txtContenedorBody2 {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 47px;
    
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
    color: #64AE45;
}
#txtOpcionesContenedorBody2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

/*----------------------------------------------------- Contenedor Energía Renovables  ------------------------------------------------- */

#contenedorEnergiaRenovable{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    margin-top: 50px;
    background: transparent;
    overflow: hidden;
    z-index: 100;
}

#txtContenedorEnergiaRenovable {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 47px;
    
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
}
#txtParrafoContenedorEnergiaRenovable{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #404040;
}
#imgContenedorEnergiaRenovable{
    position: relative;
    left: 50px;
}
#imgMobileContenedorEnergiaRenovable{
    display:none;
}


/*----------------------------------------------------- Contenedor Soluciones Integrales ------------------------------------------------- */

#contenedoSolucionesIntegrales{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    margin-top: 50px;
    background: transparent;
    overflow: hidden;
    z-index: 100;
}

#imgContenedorSolucionesIntegrales{
    position: relative;
    left: 50px;
    width: 70%;
    left: 15%;
    top: 10%;
    top: 0%;

}
#imgMobileContenedorSolucionesIntegrales{
    display:none;
}

#txtContenedorSolucionesIntegrales {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 47px;
    
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
}
#txtParrafoContenedorSolucionesIntegrales {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #404040;
}


#btnContacto {
    background: #1C1F2A; 
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
#btnContacto:hover {
    background:#A6A8AB; 
    color: #1C1F2A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}
/*-------------------------------------- Contenedor control de articulo - Anterior/Siguiente  -------------------------------------- */

#carouselProductosControl{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    overflow: hidden;
}
#imgVectorFlechaDerecha {
    position:relative;
    align-items: center;
    width: 50%;
    max-width:850px;
    text-align: left;
}
#imgVectorFlechaIzquierda {
    position:relative;
    align-items: center;
    width: 50%;
    max-width:850px;
    text-align: right;
}
#vectorSiguiente {
    height: 26px;
    width: 26px;
    margin-left: 10px;
}
#vectorAnterior {
    height: 26px;
    width: 26px;
    margin-right: 10px;
}
#txtSiguiente {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #1C1F2A;
    margin-left: 26px;
}
#txtAnterior {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #1C1F2A;
    margin-right: 26px;
}

}
