

body, html { 
    ---variableprueba:90vw;

}

/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 
/*--------------------------------------------------- Formato Mobile menor a 768px ----------------------------------------------------------------*/ 
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 

@media (min-width: 1px) and (max-width: 768px) 
{ 
    #headerDesktop {
        display:none !important;
    }
    #hero {
        position:relative; 
        background:#1C1F2A; 
        top: 0px; 
        height: 420px; 
        overflow: hidden;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    
    #headerMobile{
        width: 100%; 
        height:56px; 
        color: green;
        overflow: hidden;
    }
    #navbar-brand-mobile2 {
        visibility:visible;
        overflow: hidden;
    }
    #navbar-brand-mobile1 {
        visibility: hidden;
    }
    #lineaSupHero {
        visibility: hidden;
       }  
    #txtIntro {
        position: absolute;
        width: 51%;
        height: 43px;
        left: 9%;
        top: 6vw;
            
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 6.8vw;
        line-height: 8vw;           
        text-transform: uppercase;
        color: #FFFFFF;
        }
    #parrafoHero{
        position: absolute;
        width: 70%;
        height: 116px;
        left: 9%;
        top: 25vw;
            
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 3.6vw;
        line-height: 4.5vw;           
        color: #FFFFFF;
    }
    #lineaInfHero {
        position: absolute;
        width: 81%;
        height: 0px;
        left: 9.44%;
        top: 325px;
        border: 0.5px solid #FFFFFF;
       }  
    #imgHome {
        position: absolute;
        Width:74px;
        Height:69px;
        Top:345px;
        left: 8.51%;
        }
    #leerMasIntro {
        position: absolute;
        width: 45.6%;
        height: 20px;
        left: 49%;
        top: 375px;
            
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;

        font-size: 3.4vw;
        line-height: 2.5vw;     
        
        color: #FFFFFF;
        }

/*----------------------------------------------------- Contenedor 1  ------------------------------------------------- */

#contenedorBody1{
    position: relative; 
    height: 396vw;
    max-height: 1500px;
    align-content: center;
    margin-top: 0px;
    background: transparent;
    overflow: hidden;
    z-index: 5;
}
#txtEnlacesMobileEnfoques {
    position: relative;
    top: 0;
    left: 5%;

    visibility: visible;
    font-family: 'Roboto';
    font-style: normal; 
    
    font-size: 16px;
    line-height: 25px;

    text-decoration: none;
    color: #818181;
}
#txtContenedorBody1 {
    position: relative;
    width: 90%;
    left: 6%;
    margin-top: 25px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 35px;
    
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
}
#txtOpcionesContenedorBody1{
    position: relative;
    width: 85%;
    left: 6%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #404040;
}
#imgContenedor1{
    position: relative;
    width: 110vw;
    left: -10vw;  
    z-index: -10;
    margin: 0;
}
#txtDosContenedorBody1 {
    position: relative;
    width: 90%;
    left: 6%;
    margin-top: 25px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 35px;
    
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
}
#txtDosOpcionesContenedorBody1{
    position: relative;
    width: 85%;
    left: 6%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #404040;
    text-decoration: none;
}

/*-------------------------------------------- Contenedor 2. Imagen de ciudad ----------------------------------------------------- */

#contenedorBody2{
    position: relative; 
    height: 127vw;
    max-width: 1700px;
    overflow: hidden;
    background: #f6f6f6;

}
#imgContenedorBody2 {
    position: relative;
    width: 250vw;
    height: 127vw;
    transform: rotate(180deg);
    background: transparent;
    clip-path: inset(13% 25%);
    left: -74vw;
}


/*-------------------------------------------- Contenedor 3. Cards de efoques ----------------------------------------------------- */

#contenedorBody3{
    display:none !important;
}
#contenedorBody3Mobile{
    position: relative; 
    height: 800px;
    background: #f6f6f6;
    overflow: hidden;
}

#Card {
    position: relative;    
    cursor: pointer;
    width: 80%;
    left:10%;
    top: 10%;
    height: 80%;
}
#Card:hover {
    transform: scale(1.01);
    box-shadow: 10px 5px 5px grey;
}
#imgVectorFlechaDerecha {
    position:absolute;
    width:5%; 
    height: 5%; 
    left: 92%; 
    top: 47%;
}
#imgVectorFlechaIzquierda {
    position:absolute; 
    width:5%; 
    height: 5%; 
    left: 2%; 
    top: 47%;
}
#IconEnfoquesConstruccion {
    width: 41px;
    height: 47px;
}
#txtTituloCard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 4.8vw;
    line-height: 8.5vw;
    color: #1C1F2A;
    text-align: center;
}
#txtParrafoCard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;

    font-weight: 300;
    font-size: 3.6vw;
    line-height: 4.5vw;  

    color: #1C1F2A;
    text-align: left;
}
#txtLeerMasCard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 3.1vw;
    line-height: 4.5vw;  
    color: #64AE45;
    text-decoration: none;
}
#txtLeerMasCard:hover {
    font-weight: 300;
    color: #1C1F2A;
}


}

/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 
/*--------------------------------------------------- Formato Desktop entre 768 px y 1200 px -------------------------------------------------------*/ 
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 

@media (min-width: 768px) and (max-width: 1200px) 
{ 
    #headerMobile {
        display: none;
    } 

    #hero {
        position:relative; 
        background:#64AE45; 
        top: 0px; 
        height: 450px; 
        overflow: hidden;
        max-width: 1700px;
    }
   #lineaSupHero {
        position: absolute;
        width: 81%;
        height: 0px;
        left: 9.44%;
        top: 147px;
        border: 0.5px solid #FFFFFF;
    }  
   #lineaInfHero {
        position: absolute;
        width: 81%;
        height: 0px;
        left: 9.44%;
        top: 400px;
        border: 0.5px solid #FFFFFF;
   }  
    #txtIntro {
        position: absolute;
        width: 415px;
        height: 43px;
        left: 100px;
        top: 194px;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 40px;
        /* identical to box height, or 61% */
        
        text-transform: uppercase;

        color: #FFFFFF;
    }
        #parrafoHero{
            position: absolute;
            width: 25.75%;
            height: 134px;
            left: 65.8%;
            top: 194px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            text-align: justify;
            text-decoration: none;
            color: #FFFFFF;
    }
    #leerMasIntro {
        display:none;
    }
    #imgHome {
        display:none;
    }

/*----------------------------------------------------- Contenedor 1  ------------------------------------------------- */

#contenedorBody1{
    position: relative; 
    height: 1050px;
    max-width: 1700px;
    align-content: center;
    margin-top: 50px;
    background: transparent;
    overflow: hidden;
    z-index: 100;
}
#txtEnlacesMobileEnfoques {
    display: none;
}
#txtContenedorBody1 {
    position: absolute;
    width: 39.97%;
    height: 9.72%;
    left: 9.23%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 43px;
    
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
}
#txtOpcionesContenedorBody1{
    position: absolute;
    width: 32.56%;
    height: 30.69%;
    left: 9.51%;
    top: 260px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #404040;
    text-decoration: none;
}
#imgContenedor1{
    position: absolute;
    width: 48.95%;
    height: 504px;
    left: 51.04%;
    top: 5%;   
}
#txtDosContenedorBody1 {
    position: absolute;
    width: 39.97%;
    height: 9.72%;
    left: 9.23%;
    top: 750px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 56px;
    
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
}
#txtDosOpcionesContenedorBody1{
    position: absolute;
    width: 39.26%;
    height: 30.69%;
    left: 51.04%;
    top: 700px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #404040;
    text-decoration: none;
}


/*-------------------------------------------- Contenedor 2. Imagen de ciudad ----------------------------------------------------- */

#contenedorBody2{
    position: relative; 
    max-width: 1700px;
    background: #f6f6f6;
}
#imgContenedorBody2 {
    left: 0;
    clip-path:inset(13% 0);
}

/*-------------------------------------------- Contenedor 3. Cards de efoques ----------------------------------------------------- */

#contenedorBody3{
    position:relative;
    background: #f6f6f6;
    width: 100%;
    max-width: 1700px;
    overflow: hidden;

}
#contenedorBody33{
    position:relative;
    background: transparent;
    height:40px ;
}
#contenedorBody3Mobile{
    display: none; 
}
#IconEnfoquesConstruccion {
    width: 35px;
    height: 39px;
}
#txtTituloCard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1C1F2A;
    text-align: left;
}
#txtParrafoCard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: #1C1F2A;
    text-align: left;
}
#txtLeerMasCard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 17px;
    color: #64AE45;
    text-decoration: none;
}
#txtLeerMasCard:hover {
    font-weight: 500;
    color: #1C1F2A;
}
#Card {
    cursor: pointer;
    width: 100%;
    left: -20%;
}
#Card:hover {
    transform: scale(1.01);
    box-shadow: 10px 5px 5px grey;
}


		
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 
/*--------------------------------------------------- Formato Desktop entre 1200px y 1700px -----------------------------------------------------*/ 
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 

@media (min-width: 1200px)
{ 
    #headerMobile {
        display: none;
    } 

    #hero {
        background:#64AE45; 
        position:relative; 
        top: 0px; 
        height: 500px; 
        overflow: hidden;
        max-width: 1700px;

    }
   #lineaSupHero {
        position: absolute;
        width: 81%;
        height: 0px;
        left: 9.44%;
        top: 147px;
        border: 0.5px solid #FFFFFF;
    }  
   #lineaInfHero {
        position: absolute;
        width: 81%;
        height: 0px;
        left: 9.44%;
        top: 400px;
        border: 0.5px solid #FFFFFF;
   }  
    #txtIntro {
        position: absolute;
        width: 415px;
        height: 43px;
        left: 137px;
        top: 194px;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 65px;
        line-height: 43px;
        /* identical to box height, or 61% */
        
        text-transform: uppercase;

        color: #FFFFFF;
    }
        #parrafoHero{
            position: absolute;
            width: 20.75%;
            height: 134px;
            left: 70.8%;
            top: 194px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 25px;
            line-height: 26px;
            text-align: justify;
            text-decoration: none;
            color: #FFFFFF;
    }
    #leerMasIntro {
        display:none;
    }
    #imgHome {
        display:none;
    }
/*----------------------------------------------------- Contenedor 1  ------------------------------------------------- */

#contenedorBody1{
    position: relative; 
    height: 1050px;
    max-width: 1700px;
    align-content: center;
    margin-top: 50px;
    background: transparent;
    overflow: hidden;
    z-index: 100;
}
#txtEnlacesMobileEnfoques {
    display: none;
}
#txtContenedorBody1 {
    position: absolute;
    width: 39.97%;
    height: 9.72%;
    left: 9.23%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 66px;
    
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
}
#txtOpcionesContenedorBody1{
    position: absolute;
    width: 32.56%;
    height: 30.69%;
    left: 9.51%;
    top: 301px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    color: #404040;
    text-decoration: none;
}
#imgContenedor1{
    position: absolute;
    width: 48.95%;
    height: 604px;
    left: 51.04%;
    top: 0;   
}
#txtDosContenedorBody1 {
    position: absolute;
    width: 39.97%;
    height: 9.72%;
    left: 9.23%;
    top: 700px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 66px;
    
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
}
#txtDosOpcionesContenedorBody1{
    position: absolute;
    width: 33.26%;
    height: 30.69%;
    left: 51.04%;
    top: 650px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #404040;
    text-decoration: none;
}


/*-------------------------------------------- Contenedor 2. Imagen de ciudad ----------------------------------------------------- */

#contenedorBody2{
    position: relative; 
    max-width: 1700px;
    background: #F8F9FA;
}
#imgContenedorBody2 {
    left: 0;
    background: #F8F9FA;
    clip-path:inset(13% 0);


}

/*-------------------------------------------- Contenedor 3. Cards de efoques ----------------------------------------------------- */

#contenedorBody3{
    position:relative;
    background: #F8F9FA;
    width: 100%;
    max-width: 1700px;
    overflow: hidden;
}
#contenedorBody33{
    position:relative;
    background: #F8F9FA;
    height:40px ;
}
#contenedorBody3Mobile{
    display: none; 
}
#IconEnfoquesConstruccion {
    width: 35px;
    height: 39px;
}
#txtTituloCard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #1C1F2A;
    text-align: left;
}
#txtParrafoCard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: #1C1F2A;
    text-align: left;
}

#txtLeerMasCard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 17px;
    color: #64AE45;
    text-decoration: none;
}
#txtLeerMasCard:hover {
    font-weight: 500;
    color: #1C1F2A;
}
#Card {
    cursor: pointer;
    width: auto;
}
#Card:hover {
    transform: scale(1.01);
    box-shadow: 10px 5px 5px grey;
}

}
