

body, html { 
    ---variableprueba:90vw;

}

/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 
/*--------------------------------------------------- Formato Mobile menor a 768px ----------------------------------------------------------------*/ 
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 

@media (min-width: 1px) and (max-width: 768px) 
{ 
    #headerDesktop {
        display:none !important;
    }
    #hero {
        position:relative; 
        background:#1C1F2A; 
        top: 0px; 
        height: 420px; 
        overflow: hidden;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    
    #headerMobile{
        width: 100%; 
        height:56px; 
        color: green;
        overflow: hidden;
    }
    #navbar-brand-mobile2 {
        visibility:visible;
        overflow: hidden;
    }
    #navbar-brand-mobile1 {
        visibility: hidden;
    }
    #lineaSupHero {
        visibility: hidden;
       }  
    #txtIntro {
        position: absolute;
        width: 51%;
        height: 43px;
        left: 9%;
        top: 6vw;
            
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 6.8vw;
        line-height: 8vw;           
        text-transform: uppercase;
        color: #FFFFFF;
        }
    #parrafoHero{
        position: absolute;
        width: 70%;
        height: 116px;
        left: 9%;
        top: 25vw;
            
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 3.6vw;
        line-height: 4.5vw;           
        color: #FFFFFF;
    }
    #lineaInfHero {
        position: absolute;
        width: 81%;
        height: 0px;
        left: 9.44%;
        top: 325px;
        border: 0.5px solid #FFFFFF;
       }  
    #imgHome {
        position: absolute;
        Width:74px;
        Height:69px;
        Top:345px;
        left: 8.51%;
        }
    #leerMasIntro {
        position: absolute;
        width: 45.6%;
        height: 20px;
        left: 49%;
        top: 375px;
            
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;

        font-size: 3.4vw;
        line-height: 2.5vw;     
        
        color: #FFFFFF;
        }

/*----------------------------------------------------- Contenedor 1  ------------------------------------------------- */

#contenedorBody1{
    position: relative; 
    height: 396vw;
    max-height: 1500px;
    align-content: center;
    margin-top: 0px;
    background: transparent;
    overflow: hidden;
    z-index: 5;
}
#txtEnlacesMobileEnfoques {
    position: relative;
    top: 0;
    left: 5%;

    visibility: visible;
    font-family: 'Roboto';
    font-style: normal; 
    
    font-size: 16px;
    line-height: 25px;

    text-decoration: none;
    color: #818181;
}
/*----------------------------------------------------- Contenedor 1  ------------------------------------------------- */

#contenedorBody1{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    overflow: hidden;
    background: #64AE45;
}

#txtEnlacesMobileEnfoques {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    left: 20px;
    font-size: 3.4vw;
    line-height: 2.5vw;   
    opacity: 80%;
}

#imgContenedorBody1{
    position: relative;
    width: 130%;
    height: auto;
    left: -12%;
    filter: hue-rotate(100deg);
}
#imgRowDosContenedorBody1{
    position: relative;
    height: 70px;
    width: 16.60vw;
    height: 4.11vw;
}
/*----------------------------------------------------- Contenedor La Necesidad   ------------------------------------------------- */

#contenedorNecesidad{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    overflow: hidden;
    height: 716px;
    left: 0px;
    top: 393px;
    background: #1C1F2A;
}
#txtContenedorNecesidad {
    position: relative;
    left: 0%;
    margin-top: 25px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8vw;
    line-height: 9vw;
    
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;

}
#txtParrafoContenedorNecesidad {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 25px; 
    color: #1C1F2A;

}

#imgContenedorNecesidad {
    display: none;
}

#imgMobileContenedorNecesidad{
    position: relative;
    width: 90vw;
    z-index:10;
    left: -1vw;
    margin: 0;
    margin-top: 30px;
    border: 3px solid #1C1F2A;
}
#btnContacto {
    display: none;
}
#btnContacto:hover {
    display: none;
}
/*----------------------------------------------------- Contenedor Las Caracteristicas ------------------------------------------------- */

#contenedoCaracteristicas{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    overflow: hidden;
    left: 0px;
    background: #64AE45;
}
#txtContenedoCaracteristicas {
    position: relative;
    left: 0%;
    margin-top: 25px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8vw;
    line-height: 9vw;
    
    color: #F2F2F2;
    text-align: start;

    letter-spacing: 0.05em;
}
#txtParrafoContenedoCaracteristicas{
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 25px; 
    color: #F2F2F2;
}
#imgContenedoCaracteristicas {
    position: relative;
    left: -80px;
    width: 734px;
    height: 420px;
}
#btnContacto2 {
    background: #64AE45; 
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
#btnContacto2:hover {
    background:#A6A8AB; 
    color: #1C1F2A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}
/*----------------------------------------------------- Contenedor Las Caracteristicas ------------------------------------------------- */

#contenedorBeneficios{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    overflow: hidden;
    left: 0px;
}
#txtcontenedorBeneficios {
    position: relative;
    left: 0%;
    margin-top: 25px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8vw;
    line-height: 9vw;
    
    text-align: start;

    letter-spacing: 0.05em;
    color: #1C1F2A;
}
#txtParrafocontenedorBeneficios{
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 25px; 
    color: #1C1F2A;
}
#imgContenedorBeneficios {
    position: relative;
    left: -15px;
    width: 734px;
    height: 420px;
}

/*----------------------------------------------------- Contenedor Soluciones Integrales ------------------------------------------------- */

#contenedoSolucionesIntegrales{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    margin-top: 50px;
    background: transparent;
    overflow: hidden;
    z-index: 100;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

#imgContenedorSolucionesIntegrales{
    position: relative;
    width: 80%;
    left: 19%;
}
#txtContenedorSolucionesIntegrales {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8vw;
    line-height: 7vw;
    
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
}
#txtParrafoContenedorSolucionesIntegrales {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 25px; 
    color: #404040;
}

#btnContacto {
    display: none;
}


/*-------------------------------------------- Contenedor 3. Cards de efoques ----------------------------------------------------- */

#contenedorBody3{
    display:none !important;
}
#contenedorBody3Mobile{
    position: relative; 
    height: 800px;
    background: #f6f6f6;
    overflow: hidden;
}

#Card {
    position: relative;    
    cursor: pointer;
    width: 80%;
    left:10%;
    top: 10%;
    height: 80%;
}
#Card:hover {
    transform: scale(1.01);
    box-shadow: 10px 5px 5px grey;
}
#imgVectorFlechaDerecha {
    position:absolute;
    width:5%; 
    height: 5%; 
    left: 92%; 
    top: 47%;
}
#imgVectorFlechaIzquierda {
    position:absolute; 
    width:5%; 
    height: 5%; 
    left: 2%; 
    top: 47%;
}
#IconEnfoquesConstruccion {
    width: 41px;
    height: 47px;
}
#txtTituloCard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 4.8vw;
    line-height: 8.5vw;
    color: #1C1F2A;
    text-align: center;
}
#txtParrafoCard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;

    font-weight: 300;
    font-size: 3.6vw;
    line-height: 4.5vw;  

    color: #1C1F2A;
    text-align: left;
}
#txtLeerMasCard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 3.1vw;
    line-height: 4.5vw;  
    color: #64AE45;
    text-decoration: none;
}
#txtLeerMasCard:hover {
    font-weight: 300;
    color: #1C1F2A;
}


}

/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 
/*--------------------------------------------------- Formato Desktop entre 768 px y 1200 px -------------------------------------------------------*/ 
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 

@media (min-width: 768px) and (max-width: 1200px) 
{ 
    #headerMobile {
        display: none;
    } 

    #hero {
        position:relative; 
        background:#64AE45; 
        top: 0px; 
        height: 450px; 
        overflow: hidden;
        max-width: 1700px;
    }
   #lineaSupHero {
        position: absolute;
        width: 81%;
        height: 0px;
        left: 9.44%;
        top: 147px;
        border: 0.5px solid #FFFFFF;
    }  
   #lineaInfHero {
        position: absolute;
        width: 81%;
        height: 0px;
        left: 9.44%;
        top: 400px;
        border: 0.5px solid #FFFFFF;
   }  
    #txtIntro {
        position: absolute;
        width: 415px;
        height: 43px;
        left: 100px;
        top: 194px;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 40px;
        /* identical to box height, or 61% */
        
        text-transform: uppercase;

        color: #FFFFFF;
    }
        #parrafoHero{
            position: absolute;
            width: 25.75%;
            height: 134px;
            left: 65.8%;
            top: 194px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            text-align: justify;
            text-decoration: none;
            color: #FFFFFF;
    }
    #leerMasIntro {
        display:none;
    }
    #imgHome {
        display:none;
    }

/*----------------------------------------------------- Contenedor 1  ------------------------------------------------- */

#contenedorBody1{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    margin-top: 50px;
    background: transparent;
    overflow: hidden;
    z-index: 100;
}
#txtEnlacesMobileEnfoques {
    display: none;
}
/*----------------------------------------------------- Contenedor La Necesidad   ------------------------------------------------- */

#contenedorNecesidad{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    overflow: hidden;
    height: 716px;
    left: 0px;
    top: 393px;
    background: #1C1F2A;
}
#colImgContenedorNecesidad {
    position: relative;
    left: 45%;
}
#colTxtContenedorNecesidad {
    position: relative;
    left: -58%;
}
#txtContenedorNecesidad {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 3.8vw;
    line-height: 4.5vw;
    color: #1C1F2A;
    text-align: left;

}
#txtParrafoContenedorNecesidad {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.6vw;
    line-height: 1.6vw; 
    color: #1C1F2A;
    padding-right: 5vw;
}
#imgMobileContenedorNecesidad{
    display: none;
}
#imgContenedorNecesidad {
    position: relative;
    left: 0;
    width: 90%;
    border: 3px solid #1C1F2A;
    top: 10%;

}
#btnContacto {
    background: #1C1F2A; 
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
#btnContacto:hover {
    background:#A6A8AB; 
    color: #1C1F2A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}
/*----------------------------------------------------- Contenedor Las Caracteristicas ------------------------------------------------- */

#contenedoCaracteristicas{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    overflow: hidden;
    left: 0px;
    background: #64AE45;
}

#txtContenedoCaracteristicas {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 3.8vw;
    line-height: 4.5vw;
    color: #FFFFFF;
    text-align: left;
}
#txtParrafoContenedoCaracteristicas{
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.6vw;
    line-height: 1.6vw; 
    color: #F2F2F2;
}
#imgContenedoCaracteristicas {
    position: relative;
    left: -50%;
    width: 150%;
    top: 3%;
}
#btnContacto2 {
    background: #64AE45; 
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
#btnContacto2:hover {
    background:#A6A8AB; 
    color: #1C1F2A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

/*----------------------------------------------------- Contenedor Los Beneficios ------------------------------------------------- */

#contenedorBeneficios{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    overflow: hidden;
    left: 0px;
}
#colImgContenedorBeneficios {
    position: relative;
    left: 50%;
}
#colTxtContenedorBeneficios {
    position: relative;
    left: -50%;
}
#txtcontenedorBeneficios {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 3.8vw;
    line-height: 4.5vw;
    text-align: left;
    color: #1C1F2A;
}
#txtParrafocontenedorBeneficios{
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.6vw;
    line-height: 1.6vw; 
    color: #1C1F2A;
}
#imgContenedorBeneficios {
    position: relative;
    left: 80px;
    width: 200%;
}

/*----------------------------------------------------- Contenedor Soluciones Integrales ------------------------------------------------- */

#contenedoSolucionesIntegrales{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    margin-top: 50px;
    background: transparent;
    overflow: hidden;
    z-index: 100;
}

#imgContenedorSolucionesIntegrales{
    position: relative;
    left: 50px;2
}
#imgContenedorSolucionesIntegrales{
    position: relative;
    left: 50px;
    width: 90%;
    left: 5%;
    top: 10%;
}
#imgMobileContenedorSolucionesIntegrales{
    display:none;
}

#txtContenedorSolucionesIntegrales {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 3.8vw;
    line-height: 4.5vw;
        
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
}
#txtParrafoContenedorSolucionesIntegrales {
    position: relative;
    width: 25%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 1.6vw;
    line-height: 1.6vw; 
    
    color: #404040;
}

#btnContacto {
    background: #1C1F2A; 
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
#btnContacto:hover {
    background:#A6A8AB; 
    color: #1C1F2A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

}
/*-------------------------------------------- Contenedor 3. Cards de efoques ----------------------------------------------------- */

#contenedorBody3{
    position:relative;
    background: #f6f6f6;
    width: 100%;
    max-width: 1700px;
    overflow: hidden;

}
#contenedorBody33{
    position:relative;
    background: transparent;
    height:40px ;
}
#contenedorBody3Mobile{
    display: none; 
}
#IconEnfoquesConstruccion {
    width: 35px;
    height: 39px;
}
#txtTituloCard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1C1F2A;
    text-align: left;
}
#txtParrafoCard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: #1C1F2A;
    text-align: left;
}
#txtLeerMasCard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 17px;
    color: #64AE45;
    text-decoration: none;
}
#txtLeerMasCard:hover {
    font-weight: 500;
    color: #1C1F2A;
}
#Card {
    cursor: pointer;
    width: 100%;
    left: -20%;
}
#Card:hover {
    transform: scale(1.01);
    box-shadow: 10px 5px 5px grey;
}


		
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 
/*--------------------------------------------------- Formato Desktop entre 1200px y 1700px -----------------------------------------------------*/ 
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 

@media (min-width: 1200px)
{ 
    #headerMobile {
        display: none;
    } 

    #hero {
        background:#64AE45; 
        position:relative; 
        top: 0px; 
        height: 500px; 
        overflow: hidden;
        max-width: 1700px;

    }
   #lineaSupHero {
        position: absolute;
        width: 81%;
        height: 0px;
        left: 9.44%;
        top: 147px;
        border: 0.5px solid #FFFFFF;
    }  
   #lineaInfHero {
        position: absolute;
        width: 81%;
        height: 0px;
        left: 9.44%;
        top: 400px;
        border: 0.5px solid #FFFFFF;
   }  
    #txtIntro {
        position: absolute;
        width: 415px;
        height: 43px;
        left: 137px;
        top: 194px;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 65px;
        line-height: 43px;
        /* identical to box height, or 61% */
        
        text-transform: uppercase;

        color: #FFFFFF;
    }
        #parrafoHero{
            position: absolute;
            width: 20.75%;
            height: 134px;
            left: 70.8%;
            top: 194px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 25px;
            line-height: 26px;
            text-align: justify;
            text-decoration: none;
            color: #FFFFFF;
    }
    #leerMasIntro {
        display:none;
    }
    #imgHome {
        display:none;
    }
/*----------------------------------------------------- Contenedor 1  ------------------------------------------------- */

#contenedorBody1{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    margin-top: 50px;
    background: transparent;
    overflow: hidden;
    z-index: 100;
}
#txtEnlacesMobileEnfoques {
    display: none;
}

/*----------------------------------------------------- Contenedor La Necesidad   ------------------------------------------------- */

#contenedorNecesidad{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    overflow: hidden;
    height: 716px;
    left: 0px;
    top: 393px;
    background: #1C1F2A;
}
#colImgContenedorNecesidad {
    position: relative;
    left: 45%;
}
#colTxtContenedorNecesidad {
    position: relative;
    left: -55%;
}
#txtContenedorNecesidad {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #1C1F2A;
    text-align: left;

}
#txtParrafoContenedorNecesidad {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    color: #1C1F2A;
    padding-right: 5vw;
}
#imgMobileContenedorNecesidad{
    display: none;
}
#imgContenedorNecesidad {
    position: relative;
    left: 0;
    width: 90%;
    border: 3px solid #1C1F2A;

}
#btnContacto {
    background: #1C1F2A; 
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
#btnContacto:hover {
    background:#A6A8AB; 
    color: #1C1F2A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}
/*----------------------------------------------------- Contenedor Las Caracteristicas ------------------------------------------------- */

#contenedoCaracteristicas{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    overflow: hidden;
    left: 0px;
    background: #64AE45;
}
#colImgContenedorCaracteristicas {
    position: relative;
}
#colTxtContenedorCaracteristicas {
    position: relative;
}
#txtContenedoCaracteristicas {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #FFFFFF;
    text-align: left;
}
#txtParrafoContenedoCaracteristicas{
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    color: #F2F2F2;
}
#imgContenedoCaracteristicas {
    position: relative;
    left: -80px;
    width: 734px;
    height: 420px;
}
#btnContacto2 {
    background: #64AE45; 
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
#btnContacto2:hover {
    background:#A6A8AB; 
    color: #1C1F2A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

/*----------------------------------------------------- Contenedor Los Beneficios ------------------------------------------------- */

#contenedorBeneficios{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    overflow: hidden;
}
#colImgContenedorBeneficios {
    position: relative;
    left: 50%;
}
#colTxtContenedorBeneficios {
    position: relative;
    left: -50%;
}
#txtcontenedorBeneficios {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    text-align: left;
    color: #1C1F2A;
}
#txtParrafocontenedorBeneficios{
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    color: #1C1F2A;
}
#imgContenedorBeneficios {
    position: relative;
    left: 80px;
    width: 734px;
    height: 420px;
}


/*----------------------------------------------------- Contenedor Soluciones Integrales ------------------------------------------------- */

#contenedoSolucionesIntegrales{
    position: relative; 
    height: auto;
    max-width: 1700px;
    align-content: center;
    margin-top: 50px;
    background: transparent;
    overflow: hidden;
    z-index: 100;
}

#imgContenedorSolucionesIntegrales{
    position: relative;
    left: 50px;
    width: 70%;
    left: 15%;
    top: 10%;

}
#imgMobileContenedorSolucionesIntegrales{
    display:none;
}

#txtContenedorSolucionesIntegrales {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 47px;
    
    color: #1C1F2A;
    text-align: start;

    letter-spacing: 0.05em;
}
#txtParrafoContenedorSolucionesIntegrales {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #404040;
}
/*-------------------------------------------- Contenedor 3. Cards de efoques ----------------------------------------------------- */

#contenedorBody3{
    position:relative;
    background: #F8F9FA;
    width: 100%;
    max-width: 1700px;
    overflow: hidden;
}
#contenedorBody33{
    position:relative;
    background: #F8F9FA;
    height:40px ;
}
#contenedorBody3Mobile{
    display: none; 
}
#IconEnfoquesConstruccion {
    width: 35px;
    height: 39px;
}
#txtTituloCard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #1C1F2A;
    text-align: left;
}
#txtParrafoCard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: #1C1F2A;
    text-align: left;
}

#txtLeerMasCard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 17px;
    color: #64AE45;
    text-decoration: none;
}
#txtLeerMasCard:hover {
    font-weight: 500;
    color: #1C1F2A;
}
#Card {
    cursor: pointer;
    width: auto;
}
#Card:hover {
    transform: scale(1.01);
    box-shadow: 10px 5px 5px grey;
}

}
