

body, html { 
    ---variableprueba:90vw;

}

/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 
/*--------------------------------------------------- Formato Mobile menor a 768px ----------------------------------------------------------------*/ 
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 

@media (min-width: 1px) and (max-width: 768px) 
{ 
    #headerDesktop {
        display:none !important;
    }
    #hero {
        position:relative; 
        background:#1C1F2A; 
        top: 0px; 
        height: 420px; 
        overflow: hidden;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    
    #headerMobile{
        width: 100%; 
        height:56px; 
        color: green;
        overflow: hidden;
    }
    #navbar-brand-mobile2 {
        visibility:visible;
        overflow: hidden;
    }
    #navbar-brand-mobile1 {
        visibility: hidden;
    }
    #lineaSupHero {
        visibility: hidden;
       }  
    #txtIntro {
        position: absolute;
        width: 51%;
        height: 43px;
        left: 9%;
        top: 6vw;
            
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 6.8vw;
        line-height: 8vw;           
        text-transform: uppercase;
        color: #FFFFFF;
        }
    #parrafoHero{
        position: absolute;
        width: 70%;
        height: 116px;
        left: 9%;
        top: 25vw;
            
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 3.6vw;
        line-height: 4.5vw;           
        color: #FFFFFF;
    }
    #lineaInfHero {
        position: absolute;
        width: 81%;
        height: 0px;
        left: 9.44%;
        top: 325px;
        border: 0.5px solid #FFFFFF;
       }  
    #imgHome {
        position: absolute;
        Width:74px;
        Height:69px;
        Top:345px;
        left: 8.51%;
        }
    #leerMasIntro {
        position: absolute;
        width: 45.6%;
        height: 20px;
        left: 49%;
        top: 375px;
            
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;

        font-size: 3.4vw;
        line-height: 2.5vw;     
        
        color: #FFFFFF;
        }

/*--------------------------------------------------------------- Contenedor enlaces para mobile  ----------------------------------------------------- */

#txtEnlacesMobileEnfoques{
    position: relative;
    top: 0;
    left: 0%;

    visibility: visible;
    font-family: 'Roboto';
    font-style: normal; 
    font-weight: 300;

    font-size: 15px;

    text-decoration: none;
    color: #818181;
    overflow: hidden;

    background: gainsboro;
    width: 90%;

}

/*--------------------------------------------------------------- Subtitulos y parrafos del articulo  ----------------------------------------------------- */

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    text-align: justify;
    margin-top: 1.2%;
    margin-bottom:1.2%;
}

h4 {
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;

    font-weight: 700;
    font-size: 30px;
    color: #1C1F2A;
    display: none;
}
/*--------------------------------------------------------------- Contenedor Titulo del Articulo  ----------------------------------------------------------- */
#contenedorTitulo {
Width:81%;
margin-top: 10px;
overflow: hidden;

}

#txtAutor {
font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size: 14px;
line-height: 25px;
color: #A6A8AB;
margin-bottom: 30px;
}
#imgPrincipal {
    Width:100%;
    left: 0%;
    margin-bottom:10px;

}

/*--------------------------------------------------------------- Contenedor Contenido del Articulo  ----------------------------------------------------------- */
#contenedorContenido {
Width:81%;
overflow: hidden;

}
#txtTitulo {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 33px;
color: #1C1F2A;
margin-bottom: 30px;
}
#txtAutor {
font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size: 14px;
line-height: 25px;
color: #A6A8AB;
margin-bottom: 30px;
}
#imgSecundaria {
Width:100%;
left: 0%;
margin-top: 10px;
margin-bottom:10px;

}

/*-------------------------------------- Contenedor Derechos del Articulo ------------------------------------------ */

#contenedorDerechos{
Width:81%;
font-family: 'Montserrat';
font-style: italic;
text-decoration: none;
margin-top: 30px;
margin-bottom:50px;
overflow: hidden;

}



/*-------------------------------------- Contenedor Categorías del Articulo ------------------------------------------ */

#contenedorCategorias{
Width:81%;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 25px;
color: #000000;
overflow: hidden;
}

#txtCategoria {
background: #F2F2F2;
border-radius: 58px;
Width: 40%;
Height:28px;
margin: 1vw;
text-align: center;
cursor: pointer;
font-size: 8px;
}
#txtCategoria:hover {
background: #64AE45;
color: #FFFFFF;
}

/*-------------------------------------- Contenedor control de articulo - Anterior/Siguiente  -------------------------------------- */

#carouselProyectosControl{
position: relative;
left: 4%; 
width: 90%;
overflow: hidden;

}
#imgVectorFlechaDerecha {
position:relative;
align-items: center;
width: 50%;
max-width:850px;
text-align: left;
}
#imgVectorFlechaIzquierda {
position:relative;
align-items: center;
width: 50%;
max-width:850px;
text-align: right;
}
#vectorSiguiente {
height: 26px;
width: 26px;
margin-left: 10px;
}
#vectorAnterior {
height: 26px;
width: 26px;
margin-right: 10px;
}

#txtSiguiente {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 25px;
color: #1C1F2A;
margin-left: 26px;
}
#txtAnterior {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 25px;
color: #1C1F2A;
margin-right: 26px;
}


}

/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 
/*--------------------------------------------------- Formato Desktop entre 768 px y 1200 px -------------------------------------------------------*/ 
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 

@media (min-width: 768px) and (max-width: 1200px) 
{ 

    #headerMobile {
        display: none;
    } 

    #hero {
        background:##64AE45;  
        position:relative; 
        top: 0px; 
        height: 500px; 
        overflow: hidden;
        max-width: 1700px;

    }
   #lineaSupHero {
        position: absolute;
        width: 81%;
        height: 0px;
        left: 9.44%;
        top: 147px;
        border: 0.5px solid #FFFFFF;
    }  
   #lineaInfHero {
        position: absolute;
        width: 81%;
        height: 0px;
        left: 9.44%;
        top: 400px;
        border: 0.5px solid #FFFFFF;
   }  
    #txtIntro {
        position: absolute;
        width: 415px;
        height: 43px;
        left: 137px;
        top: 194px;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 65px;
        line-height: 43px;        
        text-transform: uppercase;
        color: #FFFFFF;
    }
        #parrafoHero{
            position: absolute;
            width: 20.75%;
            height: 134px;
            left: 70.8%;
            top: 194px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 25px;
            line-height: 26px;
            text-align: justify;
            text-decoration: none;
            color: #FFFFFF;
    }
    #leerMasIntro {
        display:none;
    }
    #imgHome {
        display:none;
    }


/*--------------------------------------------------------------- Contenedor enlaces para mobile  ----------------------------------------------------- */

    #txtEnlacesMobileEnfoques{
        display: none;
    }

/*--------------------------------------------------------------- Subtitulos y parrafos del articulo  ----------------------------------------------------- */

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        color: #000000;
        text-align: justify;
        margin-top: 1.2%;
        margin-bottom:1.2%;
    }
    
    h4 {
        margin-top: 2%;
        margin-bottom: 2%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
    
        font-weight: 700;
        font-size: 37px;
        color: #1C1F2A;
    }
/*--------------------------------------------------------------- Contenedor Titulo del Articulo  ----------------------------------------------------------- */
#contenedorTitulo {
    Width:81%;
    max-width:1700px;
    margin-top: 50px;
}
#txtTitulo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 53px;
    color: #1C1F2A;
    margin-bottom: 30px;
}
#txtAutor {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #A6A8AB;
    margin-bottom: 30px;
}
#imgPrincipal {
    Width:95%;
}

/*--------------------------------------------------------------- Contenedor Contenido del Articulo  ----------------------------------------------------------- */
#contenedorContenido {
    Width:81%;
    max-width:1700px;
}
#txtTitulo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 53px;
    color: #1C1F2A;
    margin-bottom: 30px;
}
#txtAutor {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #A6A8AB;
    margin-bottom: 30px;
}
#imgSecundaria {
    Width:81%;
    left: 5%;
}

/*-------------------------------------- Contenedor Categorías del Articulo ------------------------------------------ */

#contenedorDerechos{
    Width:81%;
    max-width:1700px;
    font-family: 'Montserrat';
    font-style: italic;
    line-height: 1px;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom:30px;
}



/*-------------------------------------- Contenedor Categorías del Articulo ------------------------------------------ */

#contenedorCategorias{
    Width:81%;
    max-width:1700px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    color: #000000;
}

#txtCategoria {
    background: #F2F2F2;
    border-radius: 58px;
    Width: 150px;
    Height:28px;
    margin: 1vw;
    text-align: center;
    cursor: pointer;
}
#txtCategoria:hover {
    background: #64AE45;
    color: #FFFFFF;
}

/*-------------------------------------- Contenedor control de articulo - Anterior/Siguiente  -------------------------------------- */

#carouselProyectosControl{
    position: relative;
    left: 4%; 
}
#imgVectorFlechaDerecha {
    position:relative;
    align-items: center;
    width: 50%;
    max-width:850px;
    text-align: left;
}
#imgVectorFlechaIzquierda {
    position:relative;
    align-items: center;
    width: 50%;
    max-width:850px;
    text-align: right;
}
#vectorSiguiente {
    height: 26px;
    width: 26px;
    margin-left: 10px;
}
#vectorAnterior {
    height: 26px;
    width: 26px;
    margin-right: 10px;
}

#txtSiguiente {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #1C1F2A;
    margin-left: 26px;
}
#txtAnterior {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #1C1F2A;
    margin-right: 26px;
}
		
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 
/*--------------------------------------------------- Formato Desktop entre 1200px y 1700px -----------------------------------------------------*/ 
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/ 

@media (min-width: 1200px)
{ 
    #headerMobile {
        display: none;
    } 

    #hero {
        background:##64AE45;  
        position:relative; 
        top: 0px; 
        height: 500px; 
        overflow: hidden;
        max-width: 1700px;

    }
   #lineaSupHero {
        position: absolute;
        width: 81%;
        height: 0px;
        left: 9.44%;
        top: 147px;
        border: 0.5px solid #FFFFFF;
    }  
   #lineaInfHero {
        position: absolute;
        width: 81%;
        height: 0px;
        left: 9.44%;
        top: 400px;
        border: 0.5px solid #FFFFFF;
   }  
    #txtIntro {
        position: absolute;
        width: 415px;
        height: 43px;
        left: 137px;
        top: 194px;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 65px;
        line-height: 43px;        
        text-transform: uppercase;
        color: #FFFFFF;
    }
        #parrafoHero{
            position: absolute;
            width: 20.75%;
            height: 134px;
            left: 70.8%;
            top: 194px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 25px;
            line-height: 26px;
            text-align: justify;
            text-decoration: none;
            color: #FFFFFF;
    }
    #leerMasIntro {
        display:none;
    }
    #imgHome {
        display:none;
    }


/*--------------------------------------------------------------- Contenedor enlaces para mobile  ----------------------------------------------------- */

    #txtEnlacesMobileEnfoques{
        display: none;
    }

/*--------------------------------------------------------------- Subtitulos y parrafos del articulo  ----------------------------------------------------- */

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        color: #000000;
        text-align: justify;
        margin-top: 1.2%;
        margin-bottom:1.2%;
    }
    
    h4 {
        margin-top: 2%;
        margin-bottom: 2%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
    
        font-weight: 700;
        font-size: 37px;
        color: #1C1F2A;
    }
/*--------------------------------------------------------------- Contenedor Titulo del Articulo  ----------------------------------------------------------- */
#contenedorTitulo {
    Width:81%;
    max-width:1700px;
    margin-top: 50px;
}
#txtTitulo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 53px;
    color: #1C1F2A;
    margin-bottom: 30px;
}
#txtAutor {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #A6A8AB;
    margin-bottom: 30px;
}
#imgPrincipal {
    Width:95%;
}

/*--------------------------------------------------------------- Contenedor Contenido del Articulo  ----------------------------------------------------------- */
#contenedorContenido {
    Width:81%;
    max-width:1700px;
}
#txtTitulo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 53px;
    color: #1C1F2A;
    margin-bottom: 30px;
}
#txtAutor {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #A6A8AB;
    margin-bottom: 30px;
}
#imgSecundaria {
    Width:81%;
    left: 5%;
}

/*-------------------------------------- Contenedor Categorías del Articulo ------------------------------------------ */

#contenedorDerechos{
    Width:81%;
    max-width:1700px;
    font-family: 'Montserrat';
    font-style: italic;
    line-height: 1px;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom:30px;
}


/*-------------------------------------- Contenedor Categorías del Articulo ------------------------------------------ */

#contenedorCategorias{
    Width:81%;
    max-width:1700px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    color: #000000;
}

#txtCategoria {
    background: #F2F2F2;
    border-radius: 58px;
    Width: 150px;
    Height:28px;
    margin: 1vw;
    text-align: center;
    cursor: pointer;
}
#txtCategoria:hover {
    background: #64AE45;
    color: #FFFFFF;
}

/*-------------------------------------- Contenedor control de articulo - Anterior/Siguiente  -------------------------------------- */

#carouselProyectosControl{
    position: relative;
    left: 4%; 
}
#imgVectorFlechaDerecha {
    position:relative;
    align-items: center;
    width: 50%;
    max-width:850px;
    text-align: left;
}
#imgVectorFlechaIzquierda {
    position:relative;
    align-items: center;
    width: 50%;
    max-width:850px;
    text-align: right;
}
#vectorSiguiente {
    height: 26px;
    width: 26px;
    margin-left: 10px;
}
#vectorAnterior {
    height: 26px;
    width: 26px;
    margin-right: 10px;
}

#txtSiguiente {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #1C1F2A;
    margin-left: 26px;
}
#txtAnterior {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #1C1F2A;
    margin-right: 26px;
}

}
